extends ../layout

block content
	h1 Atualizar Usuário
	hr
	br
	if messages.erro
		div(class="alert alert-danger")
			each msg in messages.erro
				b= msg
				br
	form(method="POST", action="/usuarios/edit/"+dados._id, role="form")
		div(class='form-group')
			label Nome
			input(type="text", class="form-control", name="nome", placeholder="Nome", autofocus, value=""+dados.nome required)
		div(class='form-group')
			label E-mail
			input(type="email", class="form-control", name="email", placeholder="E-mail", disabled, value=""+dados.email)
		div(class='form-group')
			label Site
			input(type="text", class="form-control", name="site", placeholder="Site",value=""+dados.site)
		button(type="submit", class="btn btn-success") Salvar
	br
	br
	a(href="/usuarios") Voltar
