extends ../layout

block content
	br
	h1 #{dados.nome}
	hr
	p
		b E-mail: #{dados.email}
	p
		b Data de Cadastro: #{moment(dados.data_cad).format('DD/MM/YYYY HH:MM:SS')}
	br
	form(method="POST", action="/usuarios/delete/#{dados._id}", role="form", id="excluir-form")
		button(type="submit", class="btn btn-danger") Excluir
	br
	a(href="/usuarios") Voltar

block scripts
	script(src="/js/show.js")