//- ul.nav.nav-justified
//- 	li.active
//- 		a(href='/') Home
//- 	li
//- 		a(href='/amigos') Amigos
//- 	li
//- 		a(href='/usuarios') Usúarios
//- 	li
//- 		a(href='/email') Entrar em Contato
//- 	li
//- 		a(href='/logout') #{session.nome} [sair]
//- 	li
//- 		a(href='/') Contact
nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
  .container
    //- button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarsExampleContainer', aria-controls='navbarsExampleContainer', aria-expanded='false', aria-label='Toggle navigation')
    //-   span.navbar-toggler-icon
    //- a.navbar-brand(href='#') Container
    #navbarsExampleContainer.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='#')
            | Home 
            span.sr-only (current)
        li.nav-item.active
          a.nav-link(href='#')
            | Amigos 
            span.sr-only (current)
        li.nav-item.active
          a.nav-link(href='#')
            | Entrar em Contato 
            span.sr-only (current)
        li.nav-item.active
          a.nav-link(href='#')
            | #{session.nome} [sair] 
            span.sr-only (current)
        //- li.nav-item
        //-   a.nav-link(href='#') Link
        //- li.nav-item
        //-   a.nav-link.disabled(href='#') Disabled
        //- li.nav-item.dropdown
        //-   a#dropdown02.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown
        //-   .dropdown-menu(aria-labelledby='dropdown02')
        //-     a.dropdown-item(href='#') Action
        //-     a.dropdown-item(href='#') Another action
        //-     a.dropdown-item(href='#') Something else here
      //- form.form-inline.my-2.my-md-0
      //-   input.form-control.mr-sm-2(type='text', placeholder='Search')
      //-   button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search

