extends ../layout
block content
	h1 Amigos
	a(href='/amigos/create', class='btn btn-success') Cadastrar
	br
	if messages.erro
		div(class="alert alert-danger")
			p #{messages.erro}
	if messages.info
		div(class="alert alert-success")
			p #{messages.info}
	if lista.length > 0
		table(class="table table-striped")
			thead
				tr
					th ID:
					th Nome:
					th E-mail:
					th Data:
					th Ações:
			tbody
				each valor in lista
					tr
						td #{valor._id}
						td #{valor.nome}
						td #{valor.email}
						td #{moment(valor.data_cad).format('DD/MM/YYYY HH:MM:SS')}
						td
							a(href="/amigos/show/#{valor._id}", class="btn btn-info")
								span(class="glyphicon glyphicon-search")
							span &nbsp;
							a(href="/amigos/edit/#{valor._id}", class="btn btn-primary")
								span(class="glyphicon glyphicon-pencil")
							span &nbsp;
							a(href="/contatos/#{valor._id}", class="btn btn-success")
								span(class="glyphicon glyphicon-plus")
	else
		p Nenhum registro encontrado!