extends ../layout

block content
	h1 Envio de e-mail
	hr
	if messages.erro
		div(class="alert alert-danger")
			each msg in messages.erro
				b= msg
				br
	if messages.info
		div(class="alert alert-success")
			p #{messages.info}
	form(method="POST", action="/email", role="form")
		div(class='form-group')
			label Nome
			input(type="text", class="form-control", name="nome",placeholder="Nome" required)
		div(class='form-group')
			label E-mail
			input(type="email", class="form-control", name="email", placeholder="E-mail" required)
		div(class='form-group')
			label Assunto
			input(type="text", class="form-control", name="assunto", placeholder="Assunto" required)
		div(class='form-group')
			label Mensagem
			textarea(rows="", cols="5", class="form-control", name="mensagem" required)
		button(type="submit", class="btn btn-success") Enviar
	br
	br