extends ../layout
block content
	div.jumbotron
		h1 Curso de Node.js
		p.lead
			| Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.
		p
			a.btn.btn-lg.btn-success(href='http://ead.acadtec.com.br/',target="_blank" role='button') Acessar o Site