svg(style='position: absolute; width: 0; height: 0; overflow: hidden;', version='1.1', xmlns='http://www.w3.org/2000/svg')
	defs
		symbol#icon-plus-circle(viewbox='0 0 32 32')
			title plus-circle
			path(d='M16 0c-8.889 0-16 7.111-16 16s7.111 16 16 16c8.889 0 16-7.111 16-16s-7.111-16-16-16zM3.2 20.267v-8.889h8.533v-8.533h8.889v8.533h8.533v8.889h-8.533v8.533h-8.889v-8.533h-8.533z')

