section#home.conteiner-fluid
	label De
	input#inicio-busca(type='text', name='nome-Anime')
	label ate
	input#final-busca(type='text', name='nome-Anime')
	button#buscar-nome Buscar
	button#salvar-arquivo Salvar
	#seguraInfo.row(name='seguraInfo')
