doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title= title
		link(rel='stylesheet', href='/css/libs/bootstrap.min.css')
		link(rel='stylesheet', href='/css/mylibs/global.css')
		link(rel='stylesheet', href='/css/mylibs/style.css')
		link(rel='stylesheet', href='/css/mylibs/nav.css')
	body
		block content
		//- div.container
		//- 	if isLogged
		//- 		div.masthead
		//- 			h3.text-muted Project Aular NODE.JS
		//- 			nav
		//- 				include partials/menu

		//- 	block content
		//- 	if isLogged
		//- 		include partials/footer

	script(src="/js/libs/jquery-3.2.1.min.js")
	script(src="/js/libs/tether.min.js")
	script(src="/js/libs/bootstrap.js")
	script(src="/js/mylibs/funcoes.js")
	//- block scripts