nav.navbar.navbar-toggleable-md.navbar-light
  button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarColor03', aria-controls='navbarColor03', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  //- a.navbar-brand.col-sm-3(href='#') 
  //-   img(alt="HSS" src="imagens/hemodinamica.png" style="width: 60px; display: inline-block;")
  //-   div
  //-     h3 HSS
  //-     h3 HEMODINÂMICA
  #navbarColor03.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        div
          span
            svg.icon.icon-plus-circle.icon-0(style="width: 1.5em;")
              use(xlink:href='#icon-plus-circle')
        a.nav-link(href='#') SOBRE NÓS
    //- form.form-inline
    //-   input.form-control.mr-sm-2(type='text', placeholder='Search')
    //-   button.btn.btn-outline-primary.my-2.my-sm-0(type='submit') Search
