.icon-0 {
    height: 32px;
}
body, html, .container-fluid { /// take all available height
  height: 100%;
}
.corpo {
    max-width: 1400px;
    margin: 0px auto;
}
img {max-width: 270px;border: 1px solid black;padding: 3px;margin: 5px;}