nav.navbar.navbar-toggleable-md.navbar-light {
    background: rgba(255, 255, 255, 0.97);
}
a.navbar-brand div{
    display: inline-block;
    vertical-align: middle;
}
a.navbar-brand h3 {
    font-size: 1.2em;
}
a.nav-link {
    font-size: 1.7em;
}
.nav-item div {
    width: fit-content;
    /* height: auto; */
    /* background: red; */
    /* border-radius: 10px; */
    margin: auto;
    opacity: 0;
    transition: opacity .3s;
}
.nav-item:hover div {
    opacity: 1;
}

.nav-item span {
    color: white;
    font-size: 1.7em;
    /* top: -12px; */
    position: relative;
}
svg.icon.icon-plus-circle.icon-0 {
    color: #ed3237;
    fill: currentcolor;
    /* stroke: currentcolor; */
}
a.nav-link {
    padding-top: 0px;
}

.navbar {
    /* position: absolute; */
    z-index: 1;
    width: 100%;
}
.navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}